@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome To TN Hotel</h3>
    <br />
</div>

<br />

<div class="text-center">

    <a asp-controller="Room"
       asp-action="Book"
       class="btn btn btn-info btn-lg">
        Book Now
    </a>

    <a asp-controller="Room"
       asp-action="Index"
       class="btn btn-primary btn-lg">
        Today's Booking
    </a>

    <a asp-controller="Booking"
       asp-action="History"
       class="btn btn-success btn-lg">
        UpComming Booking
    </a>

    <a asp-controller="Booking"
       asp-action="List"
       class="btn btn btn-dark btn-lg">
        Booking Details
    </a>

</div>