USE [HotelBooking]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 3/10/2026 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CheckinDate] [date] NULL,
	[CheckoutDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 3/10/2026 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](10) NULL,
	[RoomType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingId], [RoomId], [CustomerName], [CheckinDate], [CheckoutDate]) VALUES (4, 2, N'Tanu', CAST(N'2026-02-26' AS Date), CAST(N'2026-02-27' AS Date))
INSERT [dbo].[Booking] ([BookingId], [RoomId], [CustomerName], [CheckinDate], [CheckoutDate]) VALUES (5, 1, N'Sonj', CAST(N'2026-03-02' AS Date), CAST(N'2026-03-04' AS Date))
INSERT [dbo].[Booking] ([BookingId], [RoomId], [CustomerName], [CheckinDate], [CheckoutDate]) VALUES (6, 4, N'u1', CAST(N'2026-02-27' AS Date), CAST(N'2026-02-28' AS Date))
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [RoomNumber], [RoomType]) VALUES (1, N'101', N'Single')
INSERT [dbo].[Rooms] ([RoomId], [RoomNumber], [RoomType]) VALUES (2, N'102', N'Double')
INSERT [dbo].[Rooms] ([RoomId], [RoomNumber], [RoomType]) VALUES (3, N'103', N'Deluxe')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
/****** Object:  StoredProcedure [dbo].[AddBooking]    Script Date: 3/10/2026 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddBooking]
    @RoomId INT,
    @CustomerName NVARCHAR(50),
    @CheckInDate DATE,
    @CheckOutDate DATE
AS
BEGIN
    -- Prevent overlapping booking
    IF EXISTS (
        SELECT 1 FROM Booking   
        WHERE RoomId = @RoomId
        AND (
            @CheckInDate < CheckOutDate
            AND @CheckOutDate > CheckInDate
        )
    )
    BEGIN
        RAISERROR('Room already booked for selected dates',16,1);
        RETURN;
    END

    INSERT INTO Booking(RoomId, CustomerName, CheckInDate, CheckOutDate)  
    VALUES(@RoomId, @CustomerName, @CheckInDate, @CheckOutDate);
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllBookings]    Script Date: 3/10/2026 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllBookings]
AS
BEGIN
    SELECT 
        b.BookingId,
        r.RoomNumber,
        b.CustomerName,
        b.CheckInDate,
        b.CheckOutDate
    FROM Booking b
    INNER JOIN Rooms r ON b.RoomId = r.RoomId
    ORDER BY b.BookingId DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetBookingsFromToday]    Script Date: 3/10/2026 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBookingsFromToday]
AS
BEGIN
    SELECT 
        b.BookingId,
        r.RoomNumber,
        b.CustomerName,
        b.CheckInDate,
        b.CheckOutDate
    FROM Booking b
    INNER JOIN Rooms r ON b.RoomId = r.RoomId
    WHERE b.CheckInDate >= CAST(GETDATE() AS DATE)
    ORDER BY b.CheckInDate ASC
END
GO
/****** Object:  StoredProcedure [dbo].[GetRoomStatus]    Script Date: 3/10/2026 4:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetRoomStatus]
AS
BEGIN
    SELECT r.RoomNumber,
    CASE 
        WHEN EXISTS (
            SELECT 1 FROM Booking b   -- ✅ singular
            WHERE b.RoomId = r.RoomId
            AND GETDATE() >= b.CheckInDate
            AND GETDATE() < b.CheckOutDate
        )
        THEN 'Booked'
        ELSE 'Available'
    END AS Status
    FROM Rooms r
END
GO
